<!DOCTYPE html>
<html>
<head>
  <title>Trump API</title>
  <!-- Trump Fonts -->
  <link href='https://fonts.googleapis.com/css?family=Nunito:300' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Merriweather' rel='stylesheet' type='text/css'>  <!-- Trump Favicon -->
  <link rel="shortcut icon" href="../favicon.png">
  <!-- Project CSS -->
  <link rel="stylesheet" type="text/css" href="../style.css">
  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <!-- Animation Lib -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/animatecss/3.5.1/animate.min.css">
</head>

<body>

<!-- Main Body -->

  <div class="row">
    <div class="col-sm-9 col-xs-12" id="main">
    <div id="mainheader">
    <h1 style="font-size: 1.2em;">TRUMP NAMES</h1>
    </div>

<!-- Language Dropdown -->

    <div class="dropdown">
      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" >
        Language
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li><a href="/">English</a></li>
        <li><a type="button" data-toggle="modal" data-target="#mexicanModal">Spanish</a></li>
      </ul>
    </div>
    </div>

    <!-- Right Sidebar -->

    <div class="col-sm-3 col-xs-12 side">
    <h3 id="sideheader">Get Your Trump Name</h3>

  <!-- Opponents -->
    <!-- HILLARY -->
    <figure style="float: left;">
      <div class="wrapper">
        <img type="button" data-toggle="modal" data-target="#hillaryModal" src="../hillary.png" alt="lying hilary" class="opponents"/>
        <span class="glyphicon glyphicon-plus hidden" aria-hidden="true" type="button" data-toggle="modal" data-target="#hillaryModal">
        </span>
      </div>
      <figcaption>Lying Hillary</figcaption>
    </figure>

    <!-- BERNIE -->

    <figure style="float: left;">
      <div class="wrapper">
        <img type="button" data-toggle="modal" data-target="#bernieModal" src="../bernie.png" alt="crazy bernie" class="opponents"/>
        <span class="glyphicon glyphicon-plus hidden" aria-hidden="true" type="button" data-toggle="modal" data-target="#bernieModal">
        </span>
      </div>
      <figcaption>Crazy Bernie</figcaption>
    </figure>

    <!-- MODALS -->

    <%= erb :modal %>
    <%= erb :mexico %>

    <!-- Nickname Form -->

    <form action="/yournickname" method="POST">

      <input type="text" class="form-control" placeholder="First Name" id="firstname" name="name[first_name]">
      <input type="text" class="form-control" placeholder="Last Name" id="lastname" name="name[last_name]">
      <input type="submit" value="Bully Me" id="bullyme">

    </form>


    <div class="trumpname">

    <% if @namer %>
      OK, <%= @namer.trump_name %> <%= @namer.first_name.capitalize %>
    <% end %>

    </div>

    <!-- Social Footer -->

    <div id="footer">
    <div id="container">

    <a href="https://github.com/anthonyschurz/project-2" target="_blank">
    <img src="/github.png" alt="github" class="social"/>
    </a>

    <img src="/twitter.png" alt="twitter" id="twitter"/>

    <a href="mailto:?subject=Trump%20Name&amp;body=Get%20your%20trump%20name%20at%20trumpapi.com!">
    <img src="/email.png" alt="email" class="social" style="height: 25px;"/>
    </a>

    <a href="//www.reddit.com/submit" target="_blank" onclick="window.location = '//www.reddit.com/submit?url=' + encodeURIComponent(window.location); return false" >
    <img src="/reddit.png" alt="reddit" class="social"/>
    </a>

  </div>
  </div>
  </div>
</div>

<!-- Javascripts -->

<script type="text/javascript" src="http://code.jquery.com/jquery-2.2.3.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<script type="text/javascript" src="scripts.js"></script>
</body>
</html>
