<!DOCTYPE html>
<html>
<head>
  <title>Trump API</title>
  <!-- Official Trump Font -->
  <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
  <!-- Official Trump Favicon -->
  <link rel="shortcut icon" href="https://www.donaldjtrump.com/favicon.ico?v=1.1">
  <!-- Project CSS -->
  <link rel="stylesheet" type="text/css" href="/Users/anthonyschurz/WDI29/project-2/public/style.css">
  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <!-- Animation Lib -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/animatecss/3.5.1/animate.min.css">
</head>
<body>

  <div class="row">
    <div class="col-sm-9 col-xs-12" id="main">
    <div id="header">
    <h1 style="font-size: 1.2em;">TRUMP API</h1>
    </div>
    <div class="dropdown">
      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="glyphicon glyphicon-globe" aria-hidden="true" style="padding-right:2px;"></span>
        Language
        <span class="glyphicon glyphicon-menu-down"></span>
      </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
          <li><a href="#">English</a></li>
          <li><a href="#">Spanish</a></li>
        </ul>
    </div>




      <!-- Twitter Container -->
        <!-- <main>
          <%= yield %>
        </main> -->
      <!-- End Twitter Container   -->
    </div>
    <div class="col-sm-3 col-xs-12" id="side">

      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis semper placerat lorem id consectetur.
        Morbi finibus et orci a dapibus. Ut at cursus eros. Nunc id euismod lorem, non viverra nisi.
        Proin cursus ante sodales est bibendum porttitor. Sed nec vulputate purus, ut dapibus lectus.
        Sed in lorem urna. Cras sed tincidunt purus. Quisque vel ex vulputate, lobortis neque id, commodo felis.
        Quisque ut enim orci. Mauris dui metus, ultricies ac tortor sed, bibendum imperdiet magna.
        Cras dictum efficitur justo, eget vestibulum tellus. Donec porttitor dapibus orci.
        Fusce rhoncus blandit ante a pellentesque.</p>

      <p>Etiam auctor faucibus massa in iaculis. Aenean massa massa, pellentesque sed elementum id,
        interdum vitae mi. Nam erat quam, pulvinar id accumsan eu, cursus quis nulla.
        Proin mattis rutrum imperdiet. Mauris ac consectetur metus. Fusce et scelerisque risus.
        Maecenas non nunc id urna dignissim lacinia quis non orci. Vestibulum ante ipsum primis in faucibus orci
        luctus et ultrices posuere cubilia Curae; Suspendisse potenti. Integer non lorem neque.</p>

      <p>Quisque nec sapien at sapien sagittis fermentum sit amet ut turpis. Donec id odio sagittis,
        cursus tellus eu, pulvinar risus. Proin vitae posuere eros. Aliquam consequat tellus vel erat efficitur
        sagittis. Praesent molestie blandit nunc, finibus congue augue placerat in. Nunc sit amet nunc ultrices,
        interdum magna eu, lobortis odio. Aliquam ultrices pretium lacus ut efficitur. Fusce at velit feugiat,
        accumsan purus eu, suscipit eros. Mauris semper arcu id lectus commodo, et dignissim augue finibus.
        Quisque convallis lobortis arcu ac vehicula. Donec congue et tortor nec consequat.</p>

    </div>
  </div>


</body>
</html>
