<div class="modal fade" id="mexicanModal" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <img src="../wall.gif" alt="Wall Builder" style="width: 100%">
      </div>
    </div>
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
