<div class="modal fade">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-body">
        <img src="wall.gif" alt="Wall Builder">
      </div>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
