body {
  background: url('http://icdn3.digitaltrends.com/image/donald-trump-rushkoff-internet-8-1500x1000.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height:100%;
  min-height:100%;
}


.row {
  height:100%;
  min-height:100%;
}


#main {
  height:100%;
  min-height:100%;
}


.side {
  color: white;
  font-family: 'Nunito', sans-serif;
  background-color: rgba(233,29,14,0.55);
  border-left: 2px solid white;
  height:50em;
  min-height:100%;
}


.dropdown {
  float: left;
  margin: 40px 0 40px 50px;
}


#sideheader {
  font-size: 22px;
  padding: 20px 15px 0 0;
  text-align: center;
}


#mainheader {
  display: inline-block;
  color: #D4AF37;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
	font: 44px 'Diplomata';
  padding: 10px 80px 0 80px;
  text-align: center;
}

/*opponent images*/

.opponents {
  width: 120px;
  margin: 20px 10px 10px 10px;
  box-shadow: 0px 0px 0px 2px white;
  border-radius: 50%;
  opacity: 1 !important;
}


figcaption {
  text-align: center;
  padding-bottom: 20px;
}

/*form styling*/

#firstname {
  margin: 20px;
  -moz-box-shadow: 0 0 8px rgba(82,168,236,.6);
  box-shadow: 0 0 8px rgba(82,168,236,.6) !important;
  width: 80% !important;
}


#lastname {
  margin: 0 20px 20px 20px;
  width: 80% !important;
}


#bullyme {
	background-color:transparent;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	border:2px solid white;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:16px;
	padding:6px;
  width: 80%;
	text-decoration:none;
  position:relative;
  left: 20px;
}


#bullyme:hover {
	background-color: #5cb85c;
}


.trumpname {
  font-size: 22px;
  padding: 20px 20px 0 20px;
}

/*social footer styling*/

#footer {
  position:fixed;
  bottom:0px;
  width:100%;
  padding: 0 0 20px 20px;
}


.social {
  height: 40px;
  padding-right: 44px;
}


#twitter {
  height: 35px;
  padding-right: 44px;
}
